/* Fonts */

@font-face {
  font-display: swap;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/epilogue-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/epilogue-v17-latin-600.woff2') format('woff2');
}

/* Global styles */
html {
  font-size: 60%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #2d2d2d;
  height: 100vh;
}
/* img{
  max-width: 100%;
  height: auto;
} */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4.4rem 2.5rem;
  /* text-align: center; */
}
.button {
  background-color: #000;
  color: #fff;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 3.1rem;
  text-decoration: none;
  padding: 2.5rem 6.7rem;
  display: inline-block;
}
.section_title {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 4.4rem;
  margin-bottom: 4.4rem;
}
/* Header styles start */
.header__wrapper {
  min-height: 78px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2.5rem 4.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 2.4rem;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  text-decoration: none;
  line-height: 2.8rem;
  color: #2d2d2d;
}
.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}
/* Header styles end */
/* Intro styles start */
.intro__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4.4rem 5.8rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.intro__title {
  font-size: 7.1rem;
  font-weight: 600;
  line-height: 7.3rem;
  margin-bottom: 2.5rem;
}
.intro__subtitle {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 3.1rem;
  margin-bottom: 2.5rem;
}
.intro__text {
  margin-bottom: 5rem;
}
/* Intro styles end */
/* Skills styles start */
.skills__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4.4rem 2.5rem;
}
.skills__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.4rem 2.5rem;
}
.skills__card {
  padding: 6.7rem 4.4rem;
  display: flex;
}
.skills__card-pic {
  margin-right: 4.4rem;
}
.skills__card-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 4.4rem;
  margin-bottom: 1.3rem;
}
/* Skills styles end */
/* Latest styles start */
.latest__wrapper {
  text-align: center;
}
.latest__works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.latest__work {
  text-align: left;
}
.latest__work-pic {
  margin-bottom: 2.5rem;
}
.latest__work-title {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 3.1rem;
  margin-bottom: 0.9rem;
}
/* Latest styles end */
/* Testimonial styles start */
.testimonial__wrapper {
  text-align: center;
}
.testimonial__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.testimonial__card {
  background-color: #f3f3f3;
  min-height: 34.4rem;
  padding: 4.4rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial__text {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 3.1rem;
  margin-bottom: 1.1rem;
}
.testimonial__rating-author {
  display: flex;
  align-items: start;
}
.testimonial__image {
  object-fit: none;
  margin-right: 1.7rem;
}
.testimonial__rating {
  margin-bottom: 1.1rem;
}
.testimonial__author-name {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 3.1rem;
}
/* Testimonial styles end */
/* Footer styles star */
.footer__title {
  text-align: left;
  margin-bottom: 2.5rem;
}
.footer__containar {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: nowrap; */
}
.footer__containar-left {
  width: 46%;
  display: flex;
  flex-direction: column;
}
.footer__desc {
  margin-bottom: 4.4rem;
}
.footer__social-list {
  display: flex;
  align-items: center;
}
.footer__social-item {
  margin-right: 2.5rem;
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__container-right {
  width: 42%;
}
.contact-form__field {
 display: block;
 width: 100%;
 background-color: #f3f3f3;
 border: none;
 padding: 1.7rem 2.5rem;
 line-height: 2.8rem;
}
.contact-form__field:first-child {
  margin-bottom: 1.2rem;
}
.contact-form__field:last-of-type {
  margin-bottom: 2.5rem;
}
/* Footer styles star */
